@using Microsoft.Extensions.Options
@using Humanizer
@using DaxnetBlog.Web.TagHelpers

@{
    ViewData["Title"] = "首页";

    var totalPages = (int)Model.totalPages;
    var pageNumber = (int)Model.pageNumber;
}
@model dynamic
@inject IOptions<WebsiteSettings> config

<div class="jumbotron jumbotron-no-border jumbotron-index">
    <h1>daxnet.me</h1>
    <img src="~/images/Life.png" class="img-responsive center-block" />
</div>
<div class="row">

    <div class="col-md-10">
        @if (Model.data.Count > 0)
        {
            <p class="archive-title">
                @string.Format("{0}年{1}月博客归档", ViewData["Year"], ViewData["Month"])
            </p>
            <ul class="article-list">
                @foreach (dynamic m in Model.data)
                {
                    var title = (string)m.title;
                    var content = (string)m.content;
                    var datePublished = (DateTime)m.datePublished;
                    <li>
                        <h4>@Html.ActionLink(title, "Post", "BlogPosts", new { id = m.id })</h4>
                        <div class="summary">@content.Summary(config.Value.TruncateSummaryLength)</div>
                        <div class="pull-right auth">@datePublished.ToLocalTime().ToString("yyyy年MM月dd日 HH:mm:ss")</div>
                    </li>
                }
            </ul>
            @if (totalPages > 1)
            {
                <pager pager-total-pages="@totalPages"
                       pager-current-page="@pageNumber"
                       asp-controller="blogposts"
                       asp-action="archive" />
            }
        }
        else
        {
            <div class="no-content text-center">没有任何可以显示的文章</div>
        }
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                @await Html.PartialAsync("_BulletinBoardPartial")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <blog-archive-list bal-title="博客归档" bal-style="default"></blog-archive-list>
            </div>
        </div>
    </div>
</div>
