@using DaxnetBlog.Web.Models

@model RegisterViewModel
@{
    ViewData["Title"] = "注册新账户";
}
<message message-enabled="@ViewData["ShowMessage"] != null && @Convert.ToBoolean(ViewData["ShowMessage"])"
         message-title=@ViewData["MessageTitle"]
         message-type="info">
    @ViewData["MessageBody"]
</message>

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NickName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NickName" class="form-control" />
                        <span asp-validation-for="NickName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Captcha" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Captcha" class="form-control" />
                        <span asp-validation-for="Captcha" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10" />
                    <div>
                        @await Html.PartialAsync("_CaptchaPartial")
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">注册</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
